<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-bottom-2x">
    <h3>Preferences</h3>

    <div class="input-wrap margin-bottom">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="input-wrap margin-y">
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </div>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>
