<div id="overall_karma">
  <% posneg = current_user.karma >= 0 ? 'positive' : 'negative' %>
  <span class="<%= posneg %>"><%= add_plus current_user.karma %></span>    
</div>

<h1><a href="/">rcrd</a></h1>

<section id="karma_chart">
  <div id="container" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
  <div class="chart">
    <script>
      var chart;
      $(document).ready(function() {
      	chart = new Highcharts.Chart({
      		chart: {
      			renderTo: 'container',
      			type: 'spline'
      		},
      		title: {
      			text: 'Karma to Date'
      		},
      		subtitle: {
      		  text: 'For <%= current_user.email %>'
      		},
      		xAxis: {
      			type: 'datetime',
      		  labels: {
            	formatter: function() {
               return Highcharts.dateFormat('%b %y', this.value);
              }
            }
      		},
      		yAxis: {
      			title: {
      				text: 'Karma points'
      			}
      		},
      		legend: {
      		  enabled: false
      		},
      		tooltip: {
      			formatter: function() {
      					return Highcharts.dateFormat('%b %e %Y', this.x) +'<b>'+ this.y +'</b>points';
      			}
      		},
      		series: [{
      			name: 'Karma to Date',
      			// Define the data points. All series have a dummy year
      			// of 1970/71 in order to be compared on the same x axis. Note
      			// that in JavaScript, months start at 0 for January, 1 for February etc.			
      			data: [
              <%
              karma = 0
              @records.each do |r|
                r.cats.each do |c|
                  if c.karma
                    karma += c.karma.to_i
                    %>
                    [Date.UTC(<%= r.created_at.strftime("%Y") %>, <%= r.created_at.strftime("%m").to_i - 1 %>, <%= r.created_at.strftime("%d") %>), <%= karma %> ],
                    <%
                  end
                end
              end
              %>
      			]
      		}]
      	});
      });
    </script>​
  </div>
</section>


<table class="karma_list">
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @karmas.each do |karma| %>
  <tr>
    <td><h2><%= karma.name %></h2></td>
    <td><%= add_plus karma.points %></td>
    <td><%= link_to 'Show', karma %></td>
    <td><%= link_to 'Edit', edit_karma_path(karma) %></td>
    <td><%= link_to 'Destroy', karma, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Karma', new_karma_path %>
