<h1>Listing karmas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @karmas.each do |karma| %>
  <tr>
    <td><%= karma.name %></td>
    <td><%= add_plus karma.points %></td>
    <td><%= link_to 'Show', karma %></td>
    <td><%= link_to 'Edit', edit_karma_path(karma) %></td>
    <td><%= link_to 'Destroy', karma, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Karma', new_karma_path %>
