<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @karma.name %>
</p>

<p>
  <b>Points:</b>
  <%= @karma.points %>
</p>


<%= link_to 'Edit', edit_karma_path(@karma) %> |
<%= link_to 'Back', karmas_path %>
