<header class="clearfix">
  <h1>
    <a href="http://rcrd.org">
      <img src="<%= image_path('logo.png') %>" alt="rcrd" title="Click to go to the rcrd homepage" />
    </a>
  </h1>
  <span id="beta">beta</span>
  <div id="login_status">
    <% if current_user %>
      Logged in as <%= link_to current_user.email, edit_user_path(current_user) %>.
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %> or
      <%= link_to "log in", login_path %>.
    <% end %>
  </div>
</header>

<div id="main">
  <h1>an electronic exoskeleton for your memory.</h1>
  <section id="record_example">
    <h2>1. Record what you do: workouts, movies, meds, anything you want.</h2>
    <%= render 'records' %>
  </section>
  <section id="karma_example">
    <h2>2. Define your goals and their personal value.</h2>
    <%= render 'karmalist' %>    
  </section>
  <section id="chart_example">
    <h2>3. View change over time. Improve.</h2>
    <div id="container" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
    <div class="chart">
      <script>
        var chart;
        $(document).ready(function() {
          chart = new Highcharts.Chart({
            chart: {
              renderTo: 'container',
              type: 'spline'
            },
            title: {
              text: 'Karma to Date',
            },
            xAxis: {
        		  type: 'datetime',
        		  labels: {
              	formatter: function() {
                 return Highcharts.dateFormat('%d %b %y', this.value);
                }
              }
            },
        		yAxis: {
        			title: {
        				text: 'Karma points'
        			}
        		},
        		legend: {
        		  enabled: false
        		},
        		tooltip: {
        			formatter: function() {
        					return Highcharts.dateFormat('%b %e %Y', this.x) +'<b>'+ this.y +'</b>points';
        			}
        		},
        		series: [{
              name: 'Karma to Date',
              data: [
                [Date.UTC(2012, 0, 1), 50 ],
                [Date.UTC(2012, 0, 2), 48 ],
                [Date.UTC(2012, 0, 4), 47 ],
                [Date.UTC(2012, 0, 5), 45 ],
                [Date.UTC(2012, 0, 6), 49 ],
                [Date.UTC(2012, 0, 7), 50 ],
                [Date.UTC(2012, 0, 9), 54 ],
              ]
            }]
          });
        });
      </script>​
    </div>
  </section>
</div>