<div class="boxes clearfix margin-bottom">
  <% @cats.each do |cat| %>
    <div class="blocks clearfix">
      <% cat[:days].each do |key, count| %>
        <div class="day " style="<%= 'background-color: #'+cat[:color]+';' if count.to_i > 0 %>" data-date="<%= key %>"></div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="legend margin-y">
  <% @cats.each do |cat| %>
    <span class="padding-all" style="color: white; opacity: 0.2; <%= 'background-color: #'+cat[:color]+';' %>"><%= cat[:name] %></span>
  <% end %>
</div>

<% @trends.each do |cat| %>
  <div class="trend">
    <h2><%= cat[:name] %></h2>
    <ul class="stats">
      <li>
        <span class="number"><%= cat[:last_4_weeks] %></span>
        <h4>Per week</h4>
        <h5>Last 4 weeks</h5>
      </li>
      <li>
        <span class="number"><%= cat[:last_8_weeks] %></span>
        <h4>Per week</h4>
        <h5>Last 8 weeks</h5>
      </li>
      <li>
        <span class="number"><%= cat[:last_16_weeks] %></span>
        <h4>Per week</h4>
        <h5>Last 16 weeks</h5>
      </li>
    </ul>
  </div>
<% end %>
