<div id="overall_karma">
  <% posneg = @karma.value >= 0 ? 'positive' : 'negative' %>
  <span class="<%= posneg %>"><%= add_plus @karma.value %></span>    
</div>

<h1><a href="/">rcrd</a></h1>

<p>Drawing useful insights from patterns in your everyday behaviors. Use <strong><a href="/karmas">karma</a></strong> to track your well-being.</p>

<div class="box clearfix">
  <%= render 'form' %>
</div>

<div id="records">

  <% @record_days.each do |day, records| %>
    <h2><%= day.strftime('%A %B %d') %> 
        <span class="movement">
          total movement: <%= calculate_absolute(records) %>
          end of day: <%= raw add_plus(calculate_movement(records).to_s) %>
        </span>
    </h2>
    
    <% for record in records %>
      <div class="record clearfix" style="
      <%
      # seconds elapsed / seconds in day
      elapsed = record.created_at.strftime("%H").to_f*3600
      elapsed += record.created_at.strftime("%M").to_f*60
	  elapsed += record.created_at.strftime("%S").to_f
	  
	  hue = elapsed/86400*256  # proportion to denominator 256
	  hue = hue.round.to_s
      %>
      background-color: hsl(<%= hue %>, 80%, 60%);
        ">
        <div class="timestamp">
          <%= record.created_at.strftime '%I:%M%p' %>
        </div>
        <% 
        record.cats.each do |c| 
          %>
          <%= link_to '/cats/'+c.name, :class => 'cat', :style => 'background-color: hsl('+hue+', 60%, 25%); border-top: solid 1px hsl('+hue+', 80%, 20%); border-bottom: solid 1px hsl('+hue+', 80%, 80%);' do %>
            <%= c.magnitude %>
            <% if c.magnitude && c.magnitude > 1 %>
              <%= c.name.pluralize %>
            <% else %>
              <%= c.name %>
            <% end %>
          <% end %>
          <% if c.karma %>
            <span class="karma <%= c.karma >= 0 ? 'positive' : 'negative' %>"
              style="background-color: hsl(<%= hue %>, 60%, 30%); 
                     border-top: solid 1px hsl(<%= hue %>, 80%, 20%); 
                     border-bottom: solid 1px hsl(<%= hue %>, 80%, 80%);">
                     <%= add_plus c.karma %>
            </span>
          <% end %>
        <% end %>
        <span><%= link_to 'Edit', edit_record_path(record), :class => 'edit' %></span>
        <span><%= link_to 'Destroy', record, confirm: 'Are you sure?', method: :delete, :class => 'destroy' %></span>
      </div>
    <% end %>
  <% end %>

</div>

<% if current_user %>
  Logged in as <%= link_to current_user.email, edit_user_path(current_user) %>.
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "log in", login_path %>.
<% end %>