
<script type="text/javascript">
var cats = [];
<% @trending.each do |k, v| %>
  cats.push("<%= k %>");
<% end %>
</script>

<div class="margin-y clearfix">
  <div class="induction">
    <%= form_for @record do |f| %>
      <% if @record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
          <% @record.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-wrap">
        <%= f.text_field :raw, {placeholder: "e.g. workout, swim, Masters, Koret", id: "cat-input"} %>
      </div>
      <%= f.text_field :created_at, :placeholder => "Created at" %>
      <%= f.hidden_field :user_id, :value => 2 %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<div class="margin-y clearfix">
  <div class="guesses">
  </div>
  <!--
  <div class="preview">
  </div>
  -->
  <span class="time">7:00pm Tuesday, June 7</span>
  <span id="go">GO</span>
  <span id="go">clear</span>
</div>


<div class="margin-y">
  <h1>Last 7 days</h1>
    <%= render :partial => "shared/records", :locals => {:records => @last_7_days} %>
</div>
