<p id="notice"><%= notice %></p>

<div class="margin-bottom">
  <% @record.cats_from_raw.each do |cat| %>
    <span class="cat large" style="<%= style_info(@record.hue) %>"><span><%= cat %></span></span>
  <% end %>
</div>

<%= form_for @record do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-wrap margin-y">
    <%= f.text_field :raw, :placeholder => "Raw" %>
  </div>
  <div class="field">
    <%= f.text_field :created_at, :placeholder => "Created at", value: @record.local_created_at %>
  </div>
  <div class="field margin-y">
    <p><%= f.label :time_zone %>: <span class="tiny">(determined by most recent record with "time zone" cat)</span></p>
    <p><%= @record.time_zone %></p>
  </div>

  <div class="actions">
    <%= link_to "delete", @record, :method => :delete, :confirm => "Sure?" %>
    <%= f.submit %>
  </div>
<% end %>
