<p id="notice"><%= notice %></p>

<div class="margin-y">
  <div class="margin-bottom-small"><%= @record.local_target.strftime('%l:%M%P') %></div>
  <% @record.cats_from_raw.each do |cat| %>
    <span class="cat large" style="<%= style_info(@record.hue) %>"><span><%= cat %></span></span>
  <% end %>
</div>

<div class="margin-y clearfix">
  <%= render 'form' %>
  <%= link_to "delete", @record, method: :delete, confirm: "Sure?" %>
</div>
