<!DOCTYPE html>
<html>
<head>
  <title>rcrd</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<div id="wrap">

<header class="clearfix">
  <div class="primary clearfix">

    <div id="overall_karma" class="clearfix">
      <% posneg = current_user.karma >= 0 ? 'positive' : 'negative' %>
      <span class="<%= posneg %>"><%= add_plus current_user.karma %></span>    
      <div id="karma_graph"></div>
    </div>
    
    <h1>
      <a href="<%= root_url %>">
        <img src="<%= image_path('logo.png') %>" alt="rcrd" title="rcrd home" />
      </a>
    </h1>
    
    <span id="alpha">alpha</span>
    
  </div>
  <div class="secondary">
  
    <p class="schtick">Drawing useful insights from patterns in your everyday behaviors. Use karma to track your well-being.</p>
  
    <ul class="navigation clearfix">
      <li><a href="/karmas">Karmas</a></li>
<!--       <li><a href="Community Metrics">Community Metrics</a></li> -->
      <li><a href=""><%= link_to current_user.email, edit_user_path(current_user) %></a></li>
      <li><a href="<%= logout_path %>">Log out</a></li>
    </ul>
    
  </div>
</header>

<%= yield %>

</div>

<style>
	/* tell the SVG path to be a thin blue line without any area fill */
	path {
    <% if posneg == 'positive' %>
  		stroke: #29d045;
    <% else %>
      stroke: #dc1e10;
    <% end %>
		stroke-width: 2;
		fill: none;
	}
	
	.axis {
	  shape-rendering: crispEdges;
	}

	.x.axis line {
	  stroke: lightgrey;
	}

	.x.axis .minor {
	  stroke-opacity: .5;
	}

	.x.axis path {
	  display: none;
	}

	.y.axis line, .y.axis path {
	  fill: none;
	  stroke: #000;
	}
</style>
<% if @karma_dataset %>
	<script>
    var dataset = Array();
    <%
    @karma_dataset.each do |b|
      %>
      dataset.push(<%= b %>);
      <%
    end
    %>
    
    console.log(dataset);
	
		/* implementation heavily influenced by http://bl.ocks.org/1166403 */
		
		// define dimensions of graph
    var padding = 1;
    <% if request.user_agent.include?("iPhone") %>
      var w = 80;
    <% else %>
      var w = 170;
    <% end %>
		var h = 35; // height
		
		// create a simple data array that we'll plot with a line (this array represents only the Y values, X will just be the index location)
		var data = [3, 6, 2, 7, 5, 2, 0, 3, 8, 9, 2, 5, 9, 3, 6, 3, 6, 2, 7, 5, 2];
		
		data = dataset
    
    // Scales
		var x = d3.scale.linear()
		  .domain([0, data.length])
		  .range([0 - padding, w + padding]);
		  
		var y = d3.scale.linear()
      .domain([
        d3.min(data, 
          function(d) {
            return d;
          }
        ), 
        d3.max(data, 
          function(d) { 
            return d;
          }
        )])
		  .range([h - padding, 0 + padding]);
		  
			
			// automatically determining max range can work something like this
			// var y = d3.scale.linear().domain([0, d3.max(data)]).range([h, 0]);

		// create a line function that can convert data[] into x and y points
		var line = d3.svg.line()
			// assign the X function to plot our line as we wish
			.x(function(d,i) { 
				// verbose logging to show what's actually being done
				console.log('Plotting X value for data point: ' + d + ' using index: ' + i + ' to be at: ' + x(i) + ' using our xScale.');
				// return the X coordinate where we want to plot this datapoint
				return x(i); 
			})
			.y(function(d) { 
				// verbose logging to show what's actually being done
				console.log('Plotting Y value for data point: ' + d + ' to be at: ' + y(d) + " using our yScale.");
				// return the Y coordinate where we want to plot this datapoint
				return y(d); 
			})

			// Add an SVG element with the desired dimensions and margin.
			var graph = d3.select("#karma_graph").append("svg:svg")
			      .attr("width", w)
			      .attr("height", h);
			      			
  // Add the line
	graph.append("svg:path").attr("d", line(data));

</script>
<% end %>



</body>
</html>
