<!DOCTYPE html>
<html>
<head>
  <title>rcrd</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<div id="wrap">

<header class="clearfix">
  <div class="primary clearfix">

    <% if current_user %>
      <div id="overall_karma" class="clearfix">
        <% @posneg = current_user.karma >= 0 ? 'positive' : 'negative' %>
        <span class="<%= @posneg %>"><%= add_plus current_user.karma %></span>
        <%= render :partial => "shared/karma_graph" %>
      </div>
    <% end %>
    
    <h1>
      <a href="<%= root_url %>">
        <img src="<%= image_path('logo.png') %>" alt="rcrd" title="rcrd home" />
      </a>
    </h1>
    
    <span id="alpha">alpha</span>
    
  </div>

  <% if current_user %>
    <div class="secondary">
    
      <p class="schtick">Drawing useful insights from patterns in your everyday behaviors. Use karma to track your well-being.</p>
    
      <ul class="navigation clearfix">
        <li><a href="/karmas">Karmas</a></li>
  <!--       <li><a href="Community Metrics">Community Metrics</a></li> -->
        <li><a href=""><%= link_to current_user.email, edit_user_path(current_user) %></a></li>
        <li><a href="<%= logout_path %>">Log out</a></li>
      </ul>
      
    </div>
  <% end %>
</header>

<%= yield %>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33106225-1']);
  _gaq.push(['_setDomainName', 'rcrd.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
