<!DOCTYPE html>
<html>
<head>
  <title>rcrd</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
  <div id="everything">
    <div class="notice blue-bg white-text">
      <% if params[:notice] %>
        <div class="margin-all" style="<%= style_info_now %>">
          <%= params[:notice] %>
        </div>
      <% end %>
    </div>
    <header class="clearfix">
      <h1 class="logo"><a href="/">rcrd</a></h1>
      <% if @current_user %>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/records/new">records</a></li>
          <li><a href="/settings">settings</a></li>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
